<html>
    <link rel="stylesheet" href="/css/main.css">

    <head>
        <meta charset="UTF-8" />
        {{!-- <title>React App Demo</title> --}}

        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        <!-- Don't use this in production: -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>

    <body>
        {{{body}}}
    <br>
    <hr>
    <b>Peter Torres Copyright 2021</b>
    </body>
</html>