<html>
<head>
    <meta charset="UTF-8" />
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    const Greeting = (props) => {
        if (props.user) {
            return <h1>Hello, {props.user}!</h1>;
        }
        return <h1>Hello, Stranger.</h1>;
    }

    const items = {{{items}}};

    const Users = (props) => {
        const listItems = props.items.map((item) => <li key={item._id} onClick={props.clickHandler}>
        {item.name}
        </li>);
        return <ul>{listItems}</ul>
    }
    const divStyle = {
        color: 'maroon'
    };

    const Detail = (props) => {
        return <div>
            <h3>Game details</h3>
            {props.item.name} plays on {props.item.console} and 
            is part of the {props.item.genre} genre with over {props.item.hours} hours
            of playing time!
            </div>
    }

    class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {current_item: {}};
        }

        showDetail = (event) => {
        // <a href={"/detail?name=" + game.name}>
        console.log(event.target);
        console.log(event.target.innerText);
        const item = items.find((item) => item.name == event.target.innerText)
        console.log(item)
        this.setState({"current_item": item})
    }

        render() {
            return ( 
                <div> 
                    <h1>Hello, world!</h1>
                    <Users items={items} clickHandler={this.showDetail} />
                    <hr />
                    <Detail item={this.state.current_item} />
                </div>
            );
        }
    }
    ReactDOM.render( <App />, document.getElementById('root') );

</script>
</body>
</html>