<html>
<head>
    <meta charset="UTF-8" />
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    // const items = {{{ items }}}
    // console.log(items)

    // define other components


    const Greeting = (props) => {
        console.log(props);
        if (props.user) {
            return <h1>Hello, {props.user}!</h1>;
        }
        return <h1>Hello, Stranger.</h1>;
    }

    const App = () => {
      return <div><h2>Show components here!</h2></div>;
    }

    const names = ["peter", "daniel", "ron"];
    const listNames = names.map((name) => <li key={name}>{name}</li>);

    const divStyle = {
        color: 'maroon'
    };

    const myApp = <div style={divStyle}>
            <Greeting user="Peter" />
            <ul>{listNames}</ul>
    </div>



    ReactDOM.render(
        myApp,
        document.getElementById('root')
    );

</script>
</body>
</html>