<html>
<head>
    <meta charset="UTF-8" />
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    const items = {{{items}}};

    const Users = (props) => {
        const listItems = props.items.map((item) => <li key={item._id} onClick={props.clickHandler}>
        {item.name}
        </li>);
        return <ul>{listItems}</ul>
    }
    const divStyle = {
        color: 'maroon'
    };

    const Detail = (props) => {
        return <div>
            <h3>Game details</h3>
                <form>
                    Name: <input tipe="text" name ="name" onChange={props.onChange} value={props.item.name || ""} /> <br />
                    Console: <input tipe="text" name ="console" onChange={props.onChange} value={props.item.console || ""} /> <br />
                    Genre: <input tipe="text" name ="genre" onChange={props.onChange} value={props.item.genre || ""} /> <br />
                    Hours: <input tipe="text" name ="hours" onChange={props.onChange} value={props.item.hours || ""} />
                </form>
                <button onClick={props.onClear}>Clear</button> | <button onClick={props.onSave}>Save</button>

        </div>
    }

    class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {current_item: {}};
        }

        showDetail = (event) => {
        const item = items.find((item) => item.name == event.target.innerText)
        this.setState({"current_item": item})
        }

        onChange = (e) => {
            const new_item = this.state.current_item;
            new_item[e.target.name] = e.target.value;
            this.setState({"current_item": new_item})
        }

        onClear = () => {
            this.setState({"current_item": {}});
        }

        onSave = () => {
            let game = this.state.current_item; 
            fetch("/api/v1/add/", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(game)
            })
                .then(res => res.json())
                .then((json) => { console.log(json) });
        }

        render() {
            return ( 
                <div> 
                    <h1>Video Games</h1>
                    <Users items={items} clickHandler={this.showDetail} />
                    <hr />
                    <Detail item={this.state.current_item} onChange={this.onChange} onClear={this.onClear} onSave={this.onSave} />
                </div>
            );
        }
    }
    ReactDOM.render( <App />, document.getElementById('root') );

</script>
</body>
</html>